---
layout: landing-page
---

		<!-- One -->
			<section id="one" class="wrapper style1">
				<div class="container">
					<div class="row">
						<div class="12u">
							<section class="special box">
								<h2>LATEST NEWS</h2>
								{% assign sorted = (site.news | sort: 'date') | reverse %}
								{% for news in sorted limit: 1 %}
								<p><span style="color: #629DD1;">{{ news.content | strip_html }}</span></p>
								{% endfor %}
							</section>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="3u">
							<section class="special box">
								<img src="images/palm-icon.png" />
								<h3>Beach Loop</h3>
								<p>Ride from the mountains in Julian down to the Pacific Ocean following the Coast to Crest trail and back via Ramona. Singletrack, dirt & some asphalt roads. 150 miles 12,000+ feet of gain</p>
								<ul class="actions">
									<li><a href="{{ site.baseurl }}/beach-loop.html" class="button alt">Learn More</a></li>
								</ul>
							</section>
						</div>
						<div class="3u">
							<section class="special box">
								<img src="images/cactus-icon.png" />
								<h3>Desert Loop</h3>
								<p>Drop down from Julian into the Anza-Borrego Desert State Park looping through Borrego Springs. Rocky singletrack, sand washes & some asphalt. 115 miles 12,000+ feet of gain</p>
								<ul class="actions">
									<li><a href="{{ site.baseurl }}/desert-loop.html" class="button alt">Learn More</a></li>
								</ul>
							</section>
						</div>
						<div class="3u">
							<section class="special box">
								<img src="images/pine-icon.png" />
								<h3>Mountain Loop</h3>
								<p>Technically challenging loop through Cuyamaca Rancho State Park and the Corral Canyon OHV area. Singletrack, technical trails, dirt & some asphalt roads. 160 miles 20,000+ feet of gain</p>
								<ul class="actions">
									<li><a href="{{ site.baseurl }}/mountain-loop.html" class="button alt">Learn More</a></li>
								</ul>
							</section>
						</div>
						<div class="3u">
							<section class="special box">
								<img src="images/loop-icon.png" />
								<h3>BFL</h3>
								<p>Combines parts of the Beach, Mountain &amp; Desert loops into a single big loop. 300 miles 27,000+ feet of gain</p>
								<ul class="actions">
									<li><a href="{{ site.baseurl }}/bfl.html" class="button alt">Learn More</a></li>
								</ul>
							</section>
						</div>
					</div>
				</div>
			</section>
			
		<!-- Two -->
			<section id="two" class="wrapper style2">
				<header class="major">
					<h2>RIDE REPORTS</h2>
					<p>First hand accounts from riders on the Julian Bikepacking Challenge loops</p>
				</header>
				<div class="container">
					<div class="row">
						<div class="6u">
							<section class="special">
								<a href="#" class="image fit"><img src="images/posts/2019_bfl_kris.jpg" alt="" /></a>
								<h3>Kristopher Wehage Sets New Julian Bikepack Challenge Record</h3>
								<p>Kristopher Wehage crushed this year's Julian Bikepack Challenge in just 2 days, 14 hours, and 56 minutes, setting a new course record. We reached out to him for a reflection on his ride, including a few photos he snapped along the way, and a complete pack list, and details on his Surly Ogre...</p>
								<p>Read the entire post <a href="https://bikepacking.com/news/kristopher-wehage-julian-bikepack-challenge-record/">Kristopher Wehage Sets New Julian Bikepack Challenge Record</a> on <a href="https://bikepacking.com/">BIKEPACKING.com</a></p>
							</section>
						</div>
						<div class="6u">
							<section class="special">
								<a href="#" class="image fit"><img src="images/posts/2018_bfl_miles.jpg" alt="" /></a>
								<h3>How to win the Julian Bikepack Challenge</h3>
								<p>Last month, Miles and his riding partner McCullen became the first-ever finishers of the Julian Bikepack Challenge, an annual event that explores the immensely diverse regions of Southern California. Read on for more information on the event, a huge photoset from their journey, and a reminder that Miles is still bikepacking with strangers...</p>
								<p>Read the entire post <a href="http://www.bikepacking.com/plog/win-julian-bikepack-challenge/">How to win the Julian Bikepack Challenge</a> on <a href="https://bikepacking.com/">BIKEPACKING.com</a></p>
							</section>
						</div>
					</div>
					<div class="row">
						<div class="6u">
							<section class="special">
								<a href="#" class="image fit"><img src="images/posts/2019_bfl_tonsager.jpg" alt="" /></a>
								<h3>The Julian Bikepack Challenge BFL</h3>
								<p>It was 4:30pm when we finally arrived at the Julian Pie Company.  The line was out the door and they were closing promptly at 5pm.  We needed to eat the pie.  We knew we would roll out well before they opened in the morning, so we waited patiently and slowly crept to the front of the counter. “One piece of Dutch apple with ice cream for here.  One piece to go.  Oh and two cider donuts.”...</p>
								<p>Read the entire post <a href="https://www.jkexcellentadventures.com/jbpc-bfl">The Julian Bikepack Challenge BFL</a></p>
							</section>
						</div>
						<div class="6u">
							<section class="special">
								<a href="#" class="image fit"><img src="images/posts/2016_beach.jpg" alt="" /></a>
								<h3>Racing the Julian Bikepack Challenge Beach Loop</h3>
								<p>I started this race not knowing exactly how I would feel for I just started a new diet a month or so before. Early on in the ride I somewhat lethargically was searching for a little energy and was wondering if the new diet that worked so well for me during training might not really been the best choice for longer endurance racing? Boy, did that thought change quickly!...</p>
								<p>Read the entire post <a href="http://sbrcycling.weebly.com/sbr-cycling-adventure-page/racing-the-julian-bikepacking-challenge-beach-loop">Racing the Julian Bikepack Challenge Beach Loop</a></p>
							</section>
						</div>
					</div>
				</div>
			</section>
			<!-- <section id="two" class="wrapper style2">
				<div class="container">
					<div class="row">
						<div class="8u">
							<section>
								<h2>RACING THE JULIAN BIKEPACKING CHALLENGE BEACH LOOP</h2>
								<a href="#" class="image fit"><img src="images/sw-beach.jpg" alt="" /></a>
								<p>I started this race not knowing exactly how I would feel for I just started a new diet a month or so before. Early on in the ride I somewhat lethargically was searching for a little energy and was wondering if the new diet that worked so well for me during training might not really been the best choice for longer endurance racing? Boy, did that thought change quickly! After the first hour I felt rather amazing and was surprised by how effortlessly I was moving along. Before I knew it I was already 51 miles into the ride, still feeling great...</p>
								<ul class="actions">
									<li><a href="http://sbrcycling.weebly.com/sbr-cycling-adventure-page/racing-the-julian-bikepacking-challenge-beach-loop" class="button alt">Read More</a></li>
								</ul>
							</section>
						</div>
						<div class="4u">
							<h2>LATEST BLOG POSTS</h2>
							{% for post in site.posts limit: 2 %}
							<section class="special ">
								<h3>{{ post.title }}</h3>
								{{ post.content | strip_html | truncatewords: 40 }}
								<br /><br />
								<ul class="actions">
									<li><a href="{{ site.baseurl }}{{ post.url }}" class="button alt">Read More</a></li>
								</ul>
							</section>
							{% endfor %}
						</div>
					</div>
				</div>
			</section> -->

		<!-- Three -->
			<!-- <section id="three" class="wrapper style1">
				<div class="container">
					<header class="major">
						<h2>LATEST BLOG POSTS</h2>
					</header>
					<div class="row">
						{% for post in site.posts limit: 3 %}
						<div class="4u">
							<section class="special box">
								<h3>{{ post.title }}</h3>
								{{ post.content | strip_html | truncatewords: 50 }}
								<br /><br />
								<ul class="actions">
									<li><a href="{{ post.url }}" class="button alt">Read More</a></li>
								</ul>
							</section>
						</div>
						{% endfor %}
					</div>
				</div>
			</section> -->
