<!-- Footer -->
<footer id="footer">
    <div class="container">
        <div class="row double">
            <div class="6u">
                <div class="row collapse-at-2">
                    <div class="6u">
                        <h3>Other Sources</h3>
                        <ul class="alt">
                            <li><a href="http://www.visitjulian.com">Julian, California</a></li>
                            <li><a href="http://bikepacker.com/julian-bikepacking-route/">Julian Bikepacking Route</a></li>
                            <li><a href="https://www.fs.usda.gov/cleveland">Cleveland National Forest</a></li>
                            <li><a href="http://www.sdparks.org/content/sdparks/en/park-pages/SantaYsabel.html">Santa Ysabel Open Space Preserve</a></li>
                            <!-- <li><a href="http://www.oregonbikepacking.com/disclaimer-how-to/">Disclaimer</a></li>
                            <li><a href="https://developers.facebook.com/docs/plugins/page-plugin">Facebook plugin</a></li> -->
                        </ul>
                    </div>
                    <div class="6u">
                        <h3>&nbsp;</h3>
                        <ul class="alt">
                            <li><a href="http://www.sdrp.org/">San Dieguito River Park</a></li>
                            <li><a href="https://www.parks.ca.gov/?page_id=638">Anza-Borrego Desert State Park</a></li>
                            <li><a href="https://www.parks.ca.gov/?page_id=667">Cuyamaca Rancho State Park</a></li>
                            <li><a href="https://www.fs.usda.gov/detailfull/cleveland/recreation/ohv/?cid=stelprdb5277278&width=full">Corral Canyon OHV Area</a></li>
                        </ul>
                    </div>
                </div>
                <ul class="icons">
                    <!-- <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li> -->
                    <li><a href="https://www.facebook.com/groups/1618140971756406/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <!-- <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
                    <li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li> -->
                    <li><a href="{{ site.baseurl }}/feed.xml" class="icon fa-rss"><span class="label">RSS</span></a></li>
                </ul>
            </div>
            <div class="6u">
                <h3>Contact Us</h3>
                <div id="fsty"></div>
                <form name="gform" id="gform" enctype="text/plain" action="https://docs.google.com/forms/d/e/1FAIpQLSf-ruvmFu1DVukAmMFQdxu9iz9o_cvaOF6qLz6sUaDPRnW17A/formResponse" target="hidden_iframe" onsubmit="submitted=true;">
                    Email address <span id="email-error" class="form-error"></span> <input type="email" autocomplete="email" tabindex="0" id="emailAddress" name="emailAddress" value="" required placeholder="Enter a valid email address" onchange="if(this.value != '') checkEmail();" />
                    Name <input type="text" autocomplete="off" tabindex="0" name="entry.2005620554" value="" required />
                    Comments
                    <textarea rows="2" tabindex="0" name="entry.839337160"></textarea>
                    <br />
                    <input id="form-submit" type="submit" value="Submit" disabled />
                </form>
                <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {};"></iframe>
            </div>
        </div>
        <ul class="copyright">
            <li>&copy; JBPC 2015 All rights reserved</li>
        </ul>
    </div>
</footer>

<script type="text/javascript">var submitted=false;</script>
<script type="text/javascript">
    $('#gform').on('submit', function(e) {
        $('#gform').fadeOut(2000);
        $('#fsty').html("<p>Your submission has been processed</p>").fadeIn(1000);
    });
</script>

<script type="text/javascript">
    checkEmail = function() {
        var email = $("#emailAddress").val();
        if(isValidEmail(email)) {
            $("#email-error").html("");
            $("#form-submit").removeAttr('disabled');
        } else {
            $("#email-error").html("Invalid email address");
            $("#form-submit").attr('disabled','disabled');
        }
    }
    isValidEmail = function(email) { 
        var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(email);
    }
</script>
