<!-- Footer -->
<footer id="footer">
    <div class="container">
        <div class="row double">
            <div class="6u">
                <div class="row collapse-at-2">
                    <div class="6u">
                        <h3>Other Sources</h3>
                        <ul class="alt">
                            <li><a href="http://www.desertusa.com/cities/ca/julian.html">Julian, California</a></li>
                            <li><a href="http://bikepacker.com/julian-bikepacking-route/">Julian Bikepacking Route</a></li>
                            <li><a href="https://www.fs.usda.gov/cleveland">Cleveland National Forest</a></li>
                            <li><a href="http://www.sdparks.org/content/sdparks/en/park-pages/SantaYsabel.html">Santa Ysabel Open Space Preserve</a></li>
                            <!-- <li><a href="http://www.oregonbikepacking.com/disclaimer-how-to/">Disclaimer</a></li>
                            <li><a href="https://developers.facebook.com/docs/plugins/page-plugin">Facebook plugin</a></li>
                            <li><a href="#">Nascetur nunc varius</a></li> -->
                        </ul>
                    </div>
                    <div class="6u">
                        <h3>&nbsp;</h3>
                        <ul class="alt">
                            <li><a href="http://www.sdrp.org/">San Dieguito River Park</a></li>
                            <li><a href="https://www.parks.ca.gov/?page_id=638">Anza-Borrego Desert State Park</a></li>
                            <li><a href="https://www.parks.ca.gov/?page_id=667">Cuyamaca Rancho State Park</a></li>
                            <li><a href="https://www.fs.usda.gov/detailfull/cleveland/recreation/ohv/?cid=stelprdb5277278&width=full">Corral Canyon OHV Area</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="6u">
                <h2>Disclaimer</h2>
                <p style="font-size:70%;line-height:20px;">The content of this website is purely for informational purposes and is intended as a reference guide.  The authors and everyone involved in the creation of this website make no warranty of correctness or thoroughness and disclaim any and all liability from its use.Mountain biking is inherently dangerous and it's not wise to do this route alone. USE THIS INFORMATION AT YOUR OWN RISK. A spot tracker would be a smart device to have with you for emergency extraction.</p>
                <ul class="icons">
                    <!-- <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li> -->
                    <li><a href="https://www.facebook.com/groups/1618140971756406/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <!-- <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
                    <li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li> -->
                </ul>
            </div>
        </div>
        <ul class="copyright">
            <li>&copy; JBPC 2015. All rights reserved.</li>
            <!-- <li>Design: <a href="http://templated.co">TEMPLATED</a></li>
            <li>Images: <a href="http://unsplash.com">Unsplash</a></li>
            <li>Jekyll Template: <a href="http://cloudcannon.com">Cloud Cannon</a></li> -->
        </ul>
    </div>
</footer>
