<!DOCTYPE html>
<html>

  {% include /head.html %}

	<body id="top">

        {% include /header.html %}

        <!-- Banner -->
        <section id="banner">
            <div class="inner">
                <!-- <h2>Julian Bikepack Challenge</h2>
                <p>A Bikepacking Adventure through San Diego County</p>
                <ul class="actions">
                    <li><a href="https://www.eventbrite.com/publish?crumb=8a6bff92c594ef&eid=37155895283" class="button big special">Sign Up</a></li>
                    <li><a href="{{ site.baseurl }}/info.html" class="button big alt">Learn More</a></li>
                </ul> -->
            </div>
        </section>
        {{ content }}
        {% include /footer.html %}

    </body>

</html>
